aiodns~=2.0.0
aiohttp~=3.6.0
aiosqlite~=0.13.0
base58~=1.0.0
cchardet~=2.1.0
rlp~=0.6.0
indy-node==1.12.3
git+https://github.com/hyperledger/indy-plenum.git@a5941cb9d9faea4601ba2ad4e8c5fc070d5075df#egg=indy-plenum
